*{
    padding: 0;
    margin: 0;
}
.text-center{
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
.card{
    background-color: rgb(252, 219, 251);
    margin-top: 30px;
    padding: 10px;
}
.test{
    background-image: url("https://static.vecteezy.com/system/resources/previews/001/060/223/non_2x/rocket-is-flying-in-galaxy-space-of-the-universe-vector.jpg");
    background-size: cover;
    justify-content: center;
}
.table {
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
}
.table th,
.table td {
  padding: 8px 12px;
  border-bottom: 1px solid #ddd; /* optional internal styling */
}



